.block {
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.block__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: end;
  margin-top: -123px;
  margin-bottom: 0;
}

.block__item {
  width: 180px;
  height: 123px;
  background: #306767;
  margin-right: 2px;
}

.block__item:last-child {
  margin-right: 0;
}

.block__title {
  margin: 20px 0 11px 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.block__number {
  margin: 0 0 10px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
}

@media (max-width: 1250px) {
  .block__list {
    margin-top: -104px;
  }

  .block__item {
    width: 137px;
    height: 104px;
  }

  .block__title {
    margin: 15px 0 10px 10px;
    font-size: 13px;
  }

  .block__number {
    margin: 0 0 5px 10px;
    font-size: 12px;
  }
}

@media (max-width: 730px) {
  .block__item_mobile {
    display: none;
  }
}
